<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group">
                <div  *ngFor="let item of hospital">
                  <li (click)="listClick($event, item)" class="list-group-item" [ngClass]="{'active': item.isSelected==true}"  (click)="showData(item.name)">{{ item.name }}</li>
                </div>
            </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group" >
            <li class="list-group-item" *ngIf="name">{{ name }}</li>
            <li class="list-group-item" *ngIf="address">{{ address }}</li>
            <li class="list-group-item" *ngIf="doctor">{{ doctor }}</li>
            <li class="list-group-item" *ngIf="patient">{{ patient }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
